page-home {

  .currency-heading {
    text-align: center;
    font-size: 2em;
  }

  .currency-conversions {
    text-align: center;
    font-size: 1.3em;
  }

  .row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

}
